@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply smooth scroll globally for all anchor navigation */
html {
  scroll-behavior: smooth;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cal Sans", sans-serif;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 100;
  font-style: light;
}

.funnel-display-light { 
  font-family: "Funnel Display", sans-serif; 
  font-weight: 300; 
  font-style: normal; 
}

.funnel-display-bold {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.funnel-display-semibold {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.funnel-display-medium {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Default Material Icons (for Navbar) */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  vertical-align: middle;
  font-size: 1.2em;
  transition: opacity 0.2s;
}

/* Large Material Icons (for Hero containers) */
.material-symbols-outlined.hero-icon-small {
  font-size: 3rem !important; /* 48px */
}

.material-symbols-outlined.hero-icon-medium {
  font-size: 6rem !important; /* 64px */
}

.material-symbols-outlined.hero-icon-large {
  font-size: 6rem !important; /* 96px */
}

.material-symbols-outlined.hero-icon-xl {
  font-size: 6rem !important; /* 128px */
}

@layer utilities {
  .rounded-left {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
  }

  .rounded-right {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .border-y {
    border-top:1px solid #d4d4d4;
    border-bottom:1px solid #d4d4d4;
  }

  .rounded-left-bottom {
    border-bottom-left-radius: 18px;
  }

  .rounded-left-top {
    border-top-left-radius: 18px;
  }

  .rounded-right-top {
    border-top-right-radius: 18px;
  }

  .rounded-right-bottom {
    border-bottom-right-radius: 18px;
  }

  .text-shadow {
    text-shadow: 0 2px 8px rgba(0,0,0,0.18), 0 1.5px 2px rgba(0,0,0,0.12);
  }
  .text-shadow-lg {
    text-shadow: 0 4px 16px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.18);
  }
  .text-shadow-light {
    text-shadow: 0 2px 8px rgba(255, 255, 255, 0.18), 0 1.5px 2px rgba(255, 255, 255, 0.12);
  }
  .text-shadow-light-lg {
    text-shadow: 0 4px 16px rgba(255, 255, 255, 0.50), 0 2px 4px rgba(255, 255, 255, 0.18);
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .glow-light {
    /* Soft white glow */
    text-shadow:
      0 0 4px rgba(255,255,255,0.4),
      0 0 8px rgba(255,255,255,0.2);
    /* For non-text elements, you can also use box-shadow: */
    /* box-shadow: 0 0 24px 4px rgba(255,255,255,0.4); */
  }

  .text-stroke {
    -webkit-text-stroke: 1px rgba(9, 9, 9, 0.9);
  }
  .text-stroke-lg {
    -webkit-text-stroke: 2px rgba(255,255,255,0.4);
  }
}
